top8er_app/__pychache__/*
top8er_app/migrations/*
top8er_app/generar/__pycache__/*
top8er_app/generar/assets/
top8er_app/generar/templates/
top8er_app/generar/*.png
*.pyc
*.apikey
*.DS_Store
*.pal

static/*
frontend/node_modules/*
frontend/dist/*
*.log
*.sqlite3
.vscode

/venv/*
/.env
/gato.py
/stuff.json
