# From top8er_app/.gitignore
top8er_app/__pychache__/*
top8er_app/migrations/*
top8er_app/generar/__pycache__/*
top8er_app/generar/assets/
top8er_app/generar/templates/
top8er_app/generar/*.png
*.pyc
*.apikey
*.DS_Store
*.pal

static/*
frontend/node_modules/*
frontend/dist/*
venv/*
*.env
*.log
*.sqlite3
gato.py
stuff.json
