<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
    <title>Top8er - Top 8 Graphic Generator - {{game}}</title>
    <meta charset="utf-8">

	<meta property="og:url"           content="www.top8er.com" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Top8er.com" />
	<meta property="og:description"   content="Generate top 8 result graphics for many different fighting games" />
	<meta property="og:image"         content="{% static 'samples' %}/{{game}}.png" />

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-HJ84KMCE8Q"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-HJ84KMCE8Q');
	</script>
    <script data-ad-client="ca-pub-6614667997936087" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

	 <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
    	body {
    		background-color: #303030;
    		color: white;
    	}
    	a {
    		color : white;
    		text-decoration: underline;
    	 }

    	a:hover {
			color: lightcoral;
		}

    	input {
    		border-radius: 3px;
    	}
    	select {
    		border: 0;
    		border-radius: 3px;
    	}
    	.form2box {
    		border: 4px solid red;
    		padding-bottom: 8px
    	}
    	.form2box input { width: 100% }
    	.form2box p { font-size: 10px }

    	.cajita {
    		padding-bottom: 8px;
    		overflow: hidden;
    	}

		.errorlist {
			background: indianred;
		}

    	@media only screen and (max-width: 767px) {
	        .cajita {
	        	border: 4px solid red;
	        	border-bottom: none;
	        }
			.cajita:nth-child(8) {
				border-bottom: 4px solid red;
			}
    	 }
    	 @media only screen and (max-width: 991px) and (min-width: 768px) {
			.cajita:nth-child(2n+1) {
				border-right: none;
			}
			.cajita:nth-child(7), .cajita:nth-child(8) {
				border-bottom: 4px solid red;
			}
			.cajita {
				border: 4px solid red;
				border-bottom: none;
			}
    	 }
    	 @media only screen and (min-width: 992px) {
	        .cajita {
	        	border: 4px solid red;
	        	border-right: none;
	        }
			.cajita:nth-child(4n) {
				border: 4px solid red;
			}
			.cajita:nth-child(-n+4) {
				border-bottom: none;
			}
    	 }

        .nocajota {
            border-top : 0px;
        }
        .cajilla {
            padding-bottom: 20px;
            padding-top: 20px;
            height: 100%;
            display: inline-grid;
        }

        .form{{off}}, .extra_chars {
        	display: none;
        }

		.extra_chars {
			display: none;
		}

		.showextra {
			background-color: red;
			border-radius: 5px;
			color: white;
			width: 20px;
			height: 20px;
			display: flex;
			float: right;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}

		.toggleforms {
			background-color: darkred;
			border: 0;
			color: white;
		}

		.plshide { display : none; }

		.tab1, .tab2, .tab3, .tab4 {
			width : 80%;
			margin-left: 10%;
			display: none;
		 }

		 .layopt, .fontopt, .sideevent { display : none; }

		 .moreopt {
		 	background-color: darkred;
			border: 0;
			color: white;
			border-radius: 5px;
			padding: 5px;
			cursor: pointer;
			width: 100%;
			margin-top: 5px;
			margin-bottom: 5px;
		 }

    </style>

    <script type="text/javascript">

    	var dictsote = {

		{% if color_dict %}
		{% autoescape off %}
		{{ color_dict }}
		{% endautoescape %}
		{% endif %}

    	};
    	dictsote = dictsote["{{game}}"];

    	$(document).ready(function(){

    		var hasextra = {{hasextra}};

    		if (!hasextra) {
    			$(".showextra").hide()
    		}

    		$(".showextra").click(function() {
				$(this).parent().find('.extra_chars').toggle();
				var a = $(this).html();
				if (a == "+") {
					$(this).html("-");
				}
				else {
					$(this).html("+");
				}
			});

			$( "select" ).each(function() {
				var l = $(this).find('option').length;
				if (l == 1) {
					$(this).parent().hide();
				}
			});

			for (i=1;i<=8;i++) {
				$('select[name="player'+i+'_char"]').change(function() {
					colorcito($(this));
				});
				$('select[name="player'+i+'_char"]').change();

				$('select[name="player'+i+'_extra1"]').change(function() {
					colorcito($(this));
				});
				$('select[name="player'+i+'_extra1"]').change();

				$('select[name="player'+i+'_extra2"]').change(function() {
					colorcito($(this));
				});
				$('select[name="player'+i+'_extra2"]').change();
			}


			$(".manualform").click(function() {
				$(".form1").show();
				$(".form2").hide();
				$(".tab1").hide();
				$(".tab2").hide();
				$(".tab3").hide();
				$(".tab4").hide();
			});

			$(".sggform").click(function() {
				$(".form1").hide();
				$(".form2").show();
				$(".tab1").hide();
				$(".tab2").hide();
				$(".tab3").hide();
				$(".tab4").hide();
			});

			$(".othergames").click(function() {
				$(".form1").hide();
				$(".form2").hide();
				$(".tab1").show();
				$(".tab2").hide();
				$(".tab3").hide();
				$(".tab4").hide();
			});

			$(".aboutus").click(function() {
				$(".form1").hide();
				$(".form2").hide();
				$(".tab1").hide();
				$(".tab2").show();
				$(".tab3").hide();
				$(".tab4").hide();
			});

			$(".spthanks").click(function() {
				$(".form1").hide();
				$(".form2").hide();
				$(".tab1").hide();
				$(".tab2").hide();
				$(".tab3").show();
				$(".tab4").hide();
			});

			$(".privacyp").click(function() {
				$(".form1").hide();
				$(".form2").hide();
				$(".tab1").hide();
				$(".tab2").hide();
				$(".tab3").hide();
				$(".tab4").show();
			});

			$(".togglelayopt").click(function() {
				if ($(".layopt").is(":hidden")) {
					$(".layopt").css('display', 'flex');
					$(this).html("- Layout Options");
				}
				else {
					$(".layopt").hide();
					$(this).html("+ Layout Options");
				}
			});

			$(".togglefontopt").click(function() {
				if ($(".fontopt").is(":hidden")) {
					$(".fontopt").css('display', 'flex');
					$(this).html("- Font Options");
				}
				else {
					$(".fontopt").hide();
					$(this).html("+ Font Options");
				}
			});

			$(".togglesideevent").click(function() {
				if ($(".sideevent").is(":hidden")) {
					$(".sideevent").css('display', 'flex');
					$(this).html("- Side Event");
				}
				else {
					$(".sideevent").hide();
					$(this).html("+ Side Event");
				}
			});

			// Remove required attribute from all side event player fields
			for (i=1; i<=8; i++) {
				$('input[name="side_player'+i+'_name"]').removeAttr('required');
				$('select[name="side_player'+i+'_char"]').removeAttr('required');
				$('select[name="side_player'+i+'_color"]').removeAttr('required');
				$('select[name="side_player'+i+'_flag"]').removeAttr('required');
			}

		});

		function colorcito(desu) {
			var m = 0;
			desu.parent().next().find('select').children("option").each(function() {
				try {
					var char = desu.val();
					if (char == "None") {
							$(this).hide();
							$(this).parent().val('0');
						}
					else if (dictsote[char].length == 0) {
						$(this).hide();
						$(this).html(m);
					}
					else if (dictsote[char].length <= m) {
						$(this).hide();
						if ($(this).is(':selected')) {
							$(this).parent().val('0');
						}
					}
					else {
						$(this).show();
						$(this).html(m+": "+dictsote[char][m]);
					}
				} catch (error) {
				  console.error(error);
				}
				m += 1;
			});
		}

    </script>
</head>
<body>

    <h1 style="text-align: center">top8er.com</h1>
    <h4 style="text-align: center">Top 8 Graphic Generator</h4>

    <button class="toggleforms manualform" style="margin-left: 10%">Enter data manually</button>
    <button class="toggleforms sggform">Enter tournament link</button>
    <button class="toggleforms othergames">Other Games</button>
    <button class="toggleforms aboutus">About Us</button>
    <button class="toggleforms spthanks">Special Thanks</button>
    <button class="toggleforms privacyp">Privacy Policy</button>
    <form class="form2" enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
    <div class="row" style="width: 80%; margin-left: 10%">
		<p>Supports start.gg, challonge and tonamel</p>
        <div class="form2box col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form2.event.label_tag }}
            {{ form2.event.errors }}
            {{ form2.event }}
            <p>
			   start.gg links <strong>MUST have this format:</strong> https://start.gg/tournament/.../event/...<br>
               challonge links <strong>MUST have this format:</strong> https://challonge.com/.../... or https://COMMUNITY.challonge.com/.../...<br>
			   tonamel links <strong>MUST have this format:</strong> https://tonamel.com/competition/...<br>
			   parry.gg links <strong>MUST have this format:</strong> https://parry.gg/{tournament}/{event}/...<br>
			   <br>
			   Top8er will try its best to guess the characters used by each player, but if it fails you can always select them manually in the next screen.<br>
			</p>
        </div>

        <div class="form2box col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{ form2.side_event_link.label_tag }}
            {{ form2.side_event_link.errors }}
            {{ form2.side_event_link }}
            <p>
			   <i>Optional:</i> Provide a link to a side event using the same format as above. Side event results will be displayed below the main event.<br>
			</p>
        </div>

        <div class="cajilla col-xs-12 col-sm-12 col-md-3 col-lg-3" style="padding-left: 5%; padding-right: 5%
		                                                 padding-top: 10px;
		                                                 padding-bottom: 10px;">
		    <input type="submit" value="Load Data" style="height: 50px">
		</div>

        <div class="cajilla col-xs-12 col-sm-12 col-md-3 col-lg-3" style="padding-left: 5%; padding-right: 5%
		                                                 padding-top: 10px;
		                                                 padding-bottom: 10px;">
		</div>

    </div>

	</form>

    <form class="form1" enctype="multipart/form-data" method="post" action="#result">
    {% csrf_token %}
    <div class="row" style="width: 80%; margin-left: 10%">

	<div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		<p>Player 1</p>
		{{ form.player1.errors }}
		{{ form.player1 }}
	</div>
	<div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		<p>Player 2</p>
		{{ form.player2.errors }}
		{{ form.player2 }}
	</div>
	<div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		<p>Player 3</p>
		{{ form.player3.errors }}
		{{ form.player3 }}
	</div>
	<div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		<p>Player 4</p>
		{{ form.player4.errors }}
		{{ form.player4 }}
	</div>
	<div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		<p>Player 5</p>
		{{ form.player5.errors }}
		{{ form.player5 }}
	</div>
	<div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		<p>Player 6</p>
		{{ form.player6.errors }}
		{{ form.player6 }}
	</div>
	<div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		<p>Player 7</p>
		{{ form.player7.errors }}
		{{ form.player7 }}
	</div>
	<div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		<p>Player 8</p>
		{{ form.player8.errors }}
		{{ form.player8 }}
	</div>

        <div class="cajilla col-xs-12 col-sm-12 col-md-4 col-lg-4">
                {{ form.ttext.label_tag }}
                {{ form.ttext.errors }}
                {{ form.ttext }}
        </div>
        <div class="cajilla col-xs-12 col-sm-12 col-md-4 col-lg-4">
                {{ form.btext.label_tag }}
                {{ form.btext.errors }}
                {{ form.btext }}
        </div>
        <div class="cajilla col-xs-12 col-sm-12 col-md-4 col-lg-4">
                {{ form.url.label_tag }}
                {{ form.url.errors }}
                {{ form.url }}
        </div>

        <!-- Layout Options -->

        <span class="moreopt togglelayopt col-md-12">+ Layout Options</span>

        <div class="row col-md-12">

        <div class="layopt col-xs-12 col-sm-12 col-md-12 col-lg-12 row">

	        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	                {{ form.lcolor1.label_tag }}
	                {{ form.locolor1.errors }}<br>
	                {{ form.lcolor1 }}
	        </div>

	        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	                {{ form.lcolor2.label_tag }}
	                {{ form.locolor2.errors }}<br>
	                {{ form.lcolor2 }}
	        </div>


	        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	                {{ form.background.label_tag }}
	                {{ form.background.errors }}
	                {{ form.background }}<br>
	                {{ form.darken_bg.errors }}
	                {{ form.darken_bg }}
	                <span style="font-size: 10px">Darken background for better readability</span>
	        </div>

	        <!-- Checkboxes -->

		        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		        		<br>
		                {{ form.blacksquares.label_tag }}
		                {{ form.blacksquares.errors }}
		                {{ form.blacksquares }}<br>
		                <span style="font-size: 10px">Add a solid black background to each character's portrait</span><br>
		        </div>

		        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		        		<br>
		                {{ form.charshadow.label_tag }}
		                {{ form.charshadow.errors }}
		                {{ form.charshadow }}<br>
		                <span style="font-size: 10px">Add a shadow of the main layout color to each character's portrait</span><br>
		        </div>

		        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		        		<br>
		                {{ form.prmode.label_tag }}
		                {{ form.prmode.errors }}
		                {{ form.prmode }}<br>
		                <span style="font-size: 10px">Makes numbers go from 1 to 8 without repetition for PR graphics</span><br>
		        </div>

				<!-- A -->

				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<br>
					{{ form.logo.label_tag }}
					{{ form.logo.errors }}
					{{ form.logo }}<br>
					<span style="font-size: 10px">Replaces top left text with a custom image</span><br>
				</div>

		    </div>

	    </div>

        <!-- Font options -->

        <span class="moreopt togglefontopt col-md-12">+ Font Options</span>

        <div class="fontopt col-xs-12 col-sm-12 col-md-12 col-lg-12 row">

	        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
	                {{ form.fontt.label_tag }}
	                {{ form.fontt.errors }}
	                {{ form.fontt }}<br>
	                {{ form.font_file.label_tag }}
	                {{ form.font_file.errors }}
	                {{ form.font_file }}<br>
	        </div>


	        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 row">

	        <h4 class="col-md-12">Player Text Colors</h4>
	        <div class="col-md-12" style="font-size: 10px">Affects player names, twitter handles and position numbers</div>

	        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	                {{ form.fcolor1.label_tag }}
	                {{ form.fcolor1.errors }}
	                {{ form.fcolor1 }}<br>
	        </div>

	        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	                {{ form.fscolor1.label_tag }}
	                {{ form.fscolor1.errors }}
	                {{ form.fscolor1 }}<br>
        	</div>

        	<h4 class="col-md-12">Extra Text Colors</h4>
        	<div class="col-md-12" style="font-size: 10px">Affects text in the corners</div>

	        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	                {{ form.fcolor2.label_tag }}
	                {{ form.fcolor2.errors }}
	                {{ form.fcolor2 }}<br>
	        </div>

	        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	                {{ form.fscolor2.label_tag }}
	                {{ form.fscolor2.errors }}
	                {{ form.fscolor2 }}<br>
        	</div>

        	</div>

    	</div>

        <!-- Side Event -->

        <span class="moreopt togglesideevent col-md-12">+ Side Event</span>

        <div class="row col-md-12">

        <div class="sideevent col-xs-12 col-sm-12 col-md-12 col-lg-12 row">

	        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	                {{ form.side_event_title.label_tag }}
	                {{ form.side_event_title.errors }}
	                {{ form.side_event_title }}
	        </div>

	        <div class="row" style="width: 100%; margin: 0">
		        <div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		            <p>Side Event Player 1</p>
		            {{ form.side_player1.errors }}
		            {{ form.side_player1 }}
		        </div>
		        <div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		            <p>Side Event Player 2</p>
		            {{ form.side_player2.errors }}
		            {{ form.side_player2 }}
		        </div>
		        <div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		            <p>Side Event Player 3</p>
		            {{ form.side_player3.errors }}
		            {{ form.side_player3 }}
		        </div>
		        <div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		            <p>Side Event Player 4</p>
		            {{ form.side_player4.errors }}
		            {{ form.side_player4 }}
		        </div>
		        <div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		            <p>Side Event Player 5</p>
		            {{ form.side_player5.errors }}
		            {{ form.side_player5 }}
		        </div>
		        <div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		            <p>Side Event Player 6</p>
		            {{ form.side_player6.errors }}
		            {{ form.side_player6 }}
		        </div>
		        <div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		            <p>Side Event Player 7</p>
		            {{ form.side_player7.errors }}
		            {{ form.side_player7 }}
		        </div>
		        <div class="cajita col-xs-12 col-sm-12 col-md-6 col-lg-3">
		            <p>Side Event Player 8</p>
		            {{ form.side_player8.errors }}
		            {{ form.side_player8 }}
		        </div>
	        </div>

        </div>

        </div>

        <div class="cajilla col-xs-12 col-sm-12 col-md-3 col-lg-3" style="padding-left: 5%; padding-right: 5%
		                                                 padding-top: 10px;
		                                                 padding-bottom: 10px;">
		    <input type="submit" value="Generate" style="height: 50px">
		</div>

        <div class="cajilla col-xs-12 col-sm-12 col-md-3 col-lg-3" style="padding-left: 5%; padding-right: 5%
		                                                 padding-top: 10px;
		                                                 padding-bottom: 10px;">
			{% if color_guide %}
		    <a href="{{ color_guide }}" target="_blank">Color Guide</a>
		    {% endif %}
		</div>

    </div>

	</form>

	<div class="tab1">
		<h2>Other Games</h2>

		<style>
			.logo {
				max-width: 80%;
				height: auto;
				margin: 0; padding: 0;
			}
			.logo-container {
				display: inline-block;
				width: 15%;
				text-align: center;
				margin: 0; padding: 0;
				margin-bottom: 20px;
			}
		</style>

		{% for cat in games_categories %}
			<h3>{{ cat.category_name }}</h3>
			{% for g in cat.games %}
				<div class="logo-container">
					<a href="/{{ g.slug }}">
						<img class="logo" src="{% static 'logos' %}/{{ g.path }}.png">
						<div>{{ g.full_name }}</div>
					</a>
				</div>
			{% endfor %}
		{% endfor %}

		<p>Don't see the game you were looking for? Would you like to help get it there? Follow <a href='https://github.com/ShonTitor/Top8er/blob/master/HowToHelp.md'>this guide</a></p>
	</div>

	<div class="tab2">
		<h3><strong>About Us</strong></h3>
		<p>This generator was made originally for the Smash Venezuela community. As you might know, the economic situation in Venezuela is not the best. The inflation is sky-high, universities are in crisis (private and public alike) and the minimum wage is less than $1 a month (the lowest in the world). For this and more, we ask you to consider supporting us monetarily if you like our work or find it useful.</p>
		<h4><strong>Riokaru</strong></h4>
		<img src="{% static 'riokaru.jpg' %}" style="float : right; height: 200px; width: auto;">
		<p>Riokaru is a last year student of Computer Engineering at Universidad Simón Bolívar (USB) in Caracas, Venezuela. He likes functional programming and JRPGs. His main in Super Smash Bros Ultimate is Mewtwo.</p>
		<a href="https://twitter.com/Riokaru" class="twitter-follow-button" data-show-count="false">Follow @Riokaru</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		<br>
		<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'E1E4K0N2');kofiwidget2.draw();</script>
		<br><br>
		<h4><strong>EDM</strong></h4>
		<img src="{% static 'edm.jpg' %}" style="float : right; height: 200px; width: auto;">
		<p>EDM is a graphic designer from Puerto Cabello, Venezuela currently living in Madrid, Spain. During the Wii U era he got to be a top player both in his region and the whole country. His characters in Ultimate are Falco and Joker.</p>
        <a href="https://twitter.com/Elenriqu3" class="twitter-follow-button" data-show-count="false">Follow @Elenriqu3</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <br>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_donations" />
		<input type="hidden" name="business" value="elenriqu3@gmail.com" />
		<input type="hidden" name="currency_code" value="USD" />
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
		<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
		</form>

	</div>

	<div class="tab3">
		<h2>Special Thanks</h2>

		<h4>Elevated People</h4>
		<ul>
			<a href="https://twitter.com/ArcaniusBrain"><li>Brain</li></a>
			<a href='https://twitter.com/LuigiDiMartino'><li>Luigic7</li></a>
			<a href='https://twitter.com/shiburizu'><li>Shib</li></a>
		</ul>

		<h4>Graphic Assets</h4>
		<ul>
			<li><a href="https://twitter.com/Elenriqu3">EDM</a> for the layout design as well as guiding me to make adjustments</li>
			<li>Nintendo and Sora Ltd. for the Super Smash Bros Ultimate font used here</li>
			<li><a href="https://www.fontzillion.com/foundry/manfred-klein">Manfred Klein</a> for his 'Sans Thirteen Black' font</li>
			<li><a href='https://twitter.com/playvortexgames'>The Vortex Games team</a> for preparing and sending <a href='https://twitter.com/RushdownRevolt'>Rushdown Revolt's</a> assets ready to use</li>
			<li>All game assets belong to their respective creators</li>
		</ul>

		<h4>Software</h4>
		<ul>
			<li><a href="https://www.djangoproject.com/">Django</a></li>
			<li><a href="https://pypi.org/project/Pillow/">Pillow</a></li>
			<li><a href="https://pypi.org/project/django-colorful/">Colorful</a></li>
			<li><a href="https://github.com/fonttools/fonttools">Font Tools</a></li>
			<li><a href="https://start.gg/">start.gg</a></li>
			<li><a href="https://challonge.com/">Challonge</a></li>
		</ul>
	</div>

	<div class="tab4">
		<h2>Privacy Policy</h2>
		<p>
		Last updated: 2020/10/26<br>

		We operate / (the "Site"). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site.<br>
		We use your Personal Information only for providing and improving the Site. By using the Site, you agree to the collection and use of information in accordance with this policy.<br>
		Information Collection And Use<br>


		While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ("Personal Information").
		</p>


		<h4>Log Data</h4>

		<p>
		Like many site operators, we collect information that your browser sends whenever you visit our Site ("Log Data").<br>


		This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics.<br>


		In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this …<br>
		The Log Data section is for businesses that use analytics or tracking services in websites or apps, like Google Analytics.
		</p>

		<h4>Communications</h4>

		<p>
		We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that ...<br>


		The Communications section is for businesses that may contact users via email (email newsletters) or other methods. For the full disclosure section, create your own Privacy Policy.
		</p>

		<h4>Cookies</h4>

		<p>
		Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive.<br>


		Like many sites, we use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.
		</p>

		<h4>Security</h4>

		<p>
		The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.
		</p>


		<h4>Changes To This Privacy Policy</h4>

		<p>
		This Privacy Policy is effective as of october 26 2020 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.<br>


		We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.<br>


		If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website.
		</p>


		<h4>Contact Us</h4>


		<p>If you have any questions about this Privacy Policy, please contact us.</p>

	</div>

    <div class="row" style="width: 80%; margin-left: 10%; margin-bottom: 2%">
    	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                Support the Programmer:<br>

				<a href="https://twitter.com/Riokaru?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @Riokaru</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				<br>
				<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'E1E4K0N2');kofiwidget2.draw();</script>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

                Support the Designer:<br>

                <a href="https://twitter.com/Elenriqu3?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @Elenriqu3</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <br>
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_donations" />
				<input type="hidden" name="business" value="elenriqu3@gmail.com" />
				<input type="hidden" name="currency_code" value="USD" />
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
				<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
				</form>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>

    </div>

{% if not result is None %}
    <h1 id="result" style="text-align: center">Result</h1>
	<div class="row" style="width: 80%; margin-left: 10%">
	    <img style="width: 100%; height: auto;" src=" data:image/png;charset=utf-8;base64,  {{ result }}"/>
	</div>
{% else %}
    <h1 style="text-align: center">Sample</h1>
	<div class="row" style="width: 80%; margin-left: 10%">
	    <img style="width: 100%; height: auto;" src="{% static 'samples' %}/{{game}}.png">
	</div>
{% endif %}

</body>