.cajita {
    border-color: black;
    border-style: solid;
    padding-bottom: 20px;
}
.nocajitanomod4 {
    border-right : 0px;
}
.nocajitadesu {
    border-bottom : 0px;
}
.nocajota {
    border-top : 0px;
}
.cajilla {
    padding-bottom: 20px;
    padding-top: 20px;
    height: 100%;
    display: inline-grid;
}
