<!DOCTYPE html>
<html>
<head>
    <style>
        #url, #json {
            width: 80%
        }
        #json {
            height: 180px
        }
    </style>
</head>
<body>

<div>

URL
<input id="url" value='https://www.top8er.com/api/generate/top1er/ggst/'></input><br>

JSON
<textarea id="json">
    {
        "players": [{
            "name": "Riokaru",
            "character": ["Bedman", 0],
            "flag": "https://i.imgur.com/y8NpHan.png"
        }],
        "options": {
            "background": "https://i.imgur.com/xJmSRnf.png",
            "darkenbg": false
        },
        "font_colors": ["#ffffff", "#000000"],
        "layout_colors": ["#5e0a00"]
    }
</textarea>
<br>

<button type="button" onclick="loadData()">Load</button>

<div id="result"></div>

</div>

<script>
function loadData(cFunction) {
  var url = document.getElementById("url").value;
  var body = document.getElementById("json").value;
  var xhttp;
  xhttp=new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4) {
        if (xhttp.status == 200) {
            console.log(typeof(xhttp.responseText));
            var data = JSON.parse(xhttp.responseText);
            var base64_img = data["base64_img"];
            document.getElementById("result").innerHTML = '<img src="data:image/png;base64,' + base64_img + '"/>';
          }
          else {
            document.getElementById("result").innerHTML = xhttp.responseText;
          }
    }
  };
  xhttp.open("POST", url, true);
  xhttp.setRequestHeader("Content-Type", "application/json")
  xhttp.send(body);
}

</script>
</body>
</html>
